.navbar-brand img {
  aspect-ratio: 16 / 3;
}

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.box-simple li {
  text-align: left;
}

.home-carousel h1, .home-carousel ul {
  text-transform: none;
}

.home-carousel {
   background: url(../img/carousel.webp) center center repeat;
   position: relative;
   overflow: hidden;
   min-height: 340px;
 }

/* Not in use right now, but will be when we have a good video to use */
.home-carousel video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 150%; /* Used to align the video vertically without video editing :-) */
  width: 100%;
}

.bar.background-image-fixed-2 {
  background: url(../img/carousel.webp) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bar .dark-mask {
  opacity: 0.7;
}

.home-carousel .img-responsive {
  padding: 0.25rem;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  aspect-ratio: 16 / 9;
}

.modal-dialog {
  max-width: 760px;
}
.graph {
  width: auto;
  margin: 4rem auto;
  margin-top:0;
  margin-bottom:0;
}
#cy {
  width: 100%;
  min-height: 400px;
  height: 40vh;
  z-index: 999;
}

.chart-box {
  padding: 1.25rem;
  margin: 1em;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 1.25rem;
}

.chart-box canvas {
  width: 100% !important;
}

#search-input {
    margin-bottom: 10px;
    width: 100%;
}

#members-table {
    width: 100%;
    border-collapse: collapse;
}

#members-table th {
    cursor: pointer;
    background-color: #f8f8f8;
}

#members-table th:hover {
    background-color: #e8e8e8;
}

#members-table td, #members-table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#members-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#responsive-iframe-container {
    position: relative;
    padding-bottom: 150%;  /* Adjust based on your form's height */
    height: 0;
    overflow: hidden;
}
#responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
