<section class="bar background-pentagon no-mb">
  <div class="container">
    <div class="row align-items-md-stretch">
      <div class="heading text-center">
        <h2>Network Overview</h2>
      </div>
      <div class="col-lg-6 mt-4">
        <div class="chart-box">
          <div style="position: relative; height:40vh; min-height: 400px">
            <canvas class="graph" id="ctx1"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="chart-box">
          <div style="position: relative; height:40vh; min-height: 400px">
            <div id="cy"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
