<section class="bar background-white no-mb">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="heading">
            <h2>IX Locations</h2>
            <p class="lead">Discover our interconnection points across Sweden:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Stockholm Column -->
        <div class="col-lg-4 col-md-6">
          <div class="ix-location">
            <h4>Stockholm</h4>
            <ul>
              <li><a href="https://peeringdb.com/ix/3607">Obe Kista Gate</a></li>
              <li><a href="https://peeringdb.com/fac/1053">Stokab KN7</a></li>
              <li><a href="https://peeringdb.com/fac/208">Digital Realty Stockholm</a></li>
              <li><a href="https://peeringdb.com/fac/156">Equinix SK1</a></li>
              <li><a href="https://peeringdb.com/fac/14462">City Hosting</a></li>
            </ul>
          </div>
        </div>
  
        <!-- Gothenburg Column -->
        <div class="col-lg-4 col-md-6">
          <div class="ix-location">
            <h4>Gothenburg</h4>
            <ul>
              <li><a href="https://peeringdb.com/fac/434">Gothnet DC Marieholm</a></li>
              <li><a href="https://peeringdb.com/fac/9308">Gothnet DC Backa</a></li>
            </ul>
          </div>
        </div>
  
        <!-- Malmö Column -->
        <div class="col-lg-4 col-md-6">
          <div class="ix-location">
            <h4>Malmö</h4>
            <ul>
              <li><a href="https://peeringdb.com/fac/484">Västergatan 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>